# Build output
vscode-client/out
server/out
*.tsbuildinfo

# Linter cache
coverage/
.eslintcache/
.eslintcache

# OS related
.DS_Store
*.log

# NPM cache
node_modules/
package-lock.json

# YARN cache
.yarn/
