save-exact = true
hoist = false
link-workspace-packages = false
public-hoist-pattern[]=bash-language-server

node-linker = hoisted
shamefully-hoist = true  # https://github.com/microsoft/vscode-vsce/issues/421
