name: Deploy server and extension

on:
  push:
    branches:
      - main

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install shellcheck and shfmt (used for testing)
        run: sudo apt-get install -y shellcheck shfmt

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
          cache: "pnpm"

      - name: Configure for pushing git tags
        run: |
          git config --local user.email "kenneth.skovhus@gmail.com"
          git config --local user.name "skovhus"

      - name: Deploy server
        run: bash scripts/release-server.sh
        

      - name: Deploy VS Code extension
        run: bash scripts/release-client.sh
        env:
          VSCE_TOKEN: ${{ secrets.VSCE_PERSONAL_ACCESS_TOKEN }}
