name: Upgrade tree-sitter

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * 2'

jobs:
  upgrade_tree_sitter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile

      - name: Upgrade tree-sitter wasm
        run: bash scripts/upgrade-tree-sitter.sh

      - name: Verify file changes
        uses: tj-actions/verify-changed-files@v17
        id: verify-changed-files
        with:
          files: |
             server/parser.info
             server/tree-sitter-bash.wasm

      - name: Create pull request
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        uses: peter-evans/create-pull-request@v6
        with:
          add-paths: server
          title: Auto upgrade tree-sitter-bash parser
          commit-message: Auto upgrade tree-sitter-bash parser
          token: ${{ secrets.GH_TOKEN }}
