name: Verify changes

on: [pull_request]

jobs:
  verify:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
      - uses: actions/checkout@v4

      - name: Install shellcheck and shfmt (used for testing)
        run: sudo apt-get install -y shellcheck shfmt

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          cache: "pnpm"
          node-version: ${{ matrix.node-version }}

      - run: pnpm install --frozen-lockfile

      - name: Verify changes
        run: pnpm verify:bail

      - name: Publish coverage to codecov.io
        uses: codecov/codecov-action@v4
        if: success() && matrix.node-version == '20.x'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./codecov.yml
